<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Employees List</h1>
    <p class="mb-4">
        The table down below show a list of all employees in the park.
    </p>
    <p class="mb-4">
        <a routerLink="/dashboard/home/admin-employees-add" class="btn btn-primary">Add new</a>
    </p>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employees List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Category</th>
                            <th>CinId</th>
                            <th>Actions</th>
                            
                            
                            
                        </tr>
                    </thead>
                    
                    <tbody>

                        <tr *ngFor="let d of employees">
                            <td>
                                {{d.id}}
                            </td>
                            <td>
                                {{d.name}}
                            </td>
                            <td>
                                {{d.email}}
                            </td>
                            <td>
                                {{d.username}}
                            </td>
                            <td>
                                {{d.roles[0].name}}
                            </td>
                            <td>
                                {{d.category}}
                            </td>
                            <td>
                                {{d.cinId}}
                            </td>
                            <td>
                                <button class="btn-sm btn btn-info mr-2" [routerLink]=" '/home/admin-employees-edit/'+d.id " >Edit</button>

                                <button class="btn-sm btn btn-danger" (click)="deleteEmployee(d.id)" >Delete</button>

                                
                                
                            </td>
                            


                            
                        </tr>
                        
                        
                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>